body {
    background-color: #242424;
    color: white;
    font-family: Arial, sans-serif;
    text-align: center;
  }
  
  table {
    margin: 0 auto;
    border-collapse: collapse;
  }
  
  table {
    border: 1px solid white; 
  }
  
  th {
    border-bottom: 2px solid white;
    height: 40px;
  }
  
  h1 {
    font-size: 40px;
    margin-top: 30px;
  }

  table img {
    max-width: 100px; 
    max-height: 100px; 
  }

  .header {
    width: 100px;
  }
